<section class="container d-flex justify-content-center flex-column mb-5 mt-5">
  <h1 class="text-center">Our Services</h1>
  <hr />
  <div class="row">
    <div
      data-aos="zoom-in"
      data-delay="100"
      data-aos-duration="2000"
      class="col-md-4 mb-3"
    >
      <div class="card">
        <img src="images/node.svg" alt="node" class="card-img-top" />
        <div class="card-body">
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut vitae
            corrupti sit debitis, eveniet odio vero, unde amet quam odit
            quibusdam molestias accusantium atque porro quo libero voluptas
            voluptatum quasi!
          </div>
        </div>
      </div>
    </div>
    <div
      data-aos="zoom-in"
      data-delay="200"
      data-aos-duration="2000"
      class="col-md-4 mb-3"
    >
      <div class="card">
        <img src="images/node.svg" alt="node" class="card-img-top" />
        <div class="card-body">
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut vitae
            corrupti sit debitis, eveniet odio vero, unde amet quam odit
            quibusdam molestias accusantium atque porro quo libero voluptas
            voluptatum quasi!
          </div>
        </div>
      </div>
    </div>
    <div
      data-aos="zoom-in"
      data-delay="300"
      data-aos-duration="2000"
      class="col-md-4 mb-3"
    >
      <div class="card">
        <img src="images/node.svg" alt="node" class="card-img-top" />
        <div class="card-body">
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut vitae
            corrupti sit debitis, eveniet odio vero, unde amet quam odit
            quibusdam molestias accusantium atque porro quo libero voluptas
            voluptatum quasi!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
