<!-- landing page -->
<section id="banner">
  <div class="row">
    <!-- typograpy -->
    <div
      data-aos="fade-right"
      data-delay="300"
      data-aos-duration="2000"
      class="col-md-6 pt-5 pt-lg-5 d-flex justify-content-center flex-column order-lg-1 order-2"
    >
      <h1>
        Cotinous Learning keep Up to Date with
        <strong class="text-primary">Inixindo Bandung</strong>
      </h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id molestiae
        aspernatur iste tenetur voluptates? Maxime aspernatur consequatur,
        tenetur esse ab iusto ad harum perspiciatis autem ea culpa iste velit
        nam.
      </p>
      <div class="mt-4">
        <a href="/" class="btn btn-primary">Get Started</a>
      </div>
    </div>
    <!-- image -->
    <div
      data-aos="zoom-in"
      data-delay="300"
      data-aos-duration="2000"
      class="col-md-6 pt-5 order-lg-2 order-1"
    >
      <img src="images/logo.svg" alt="logo" class="img-fluid animasi" />
    </div>
  </div>
</section>
